<h1>Welcome to Parcel dimension App</h1>
<form action="/title">
    <div class="form-group">
        <label for="weight">
        </label>
        <input id="weight" name="weight" placeholder="Input Weight of Parcel in cm"class="form-control" type="number">
        <label for="height">
        </label>
          <input id="height" name="height" placeholder="Input Height of Parcel in cm" class="form-control" type="number">
        <label for="width">
        </label>
        <input id="width" name="width" placeholder="Input Width of Parcel in cm"  class="form-control" type="number">
        <label for="length">
        </label>
        <input id="length" name="length" placeholder="Input Length of Parcel in cm" class="form-control" type="number">
    </div>
    <button type="submit" class="btn-success">Send</button>
</form>
